/.DS_Store
/Build
/DerivedData
/Index
/ddClient.xcworkspace/xcuserdata/jt.xcuserdatad/UserInterfaceState.xcuserstate
/ddClient.xcworkspace/xcuserdata/jt.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
